.bifrost-view-content {
    padding: 0 !important;
    overflow: hidden !important;
}

.bifrost-webview {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    background-clip: content-box;
}

.bifrost-center-widget-container::after {
    display: none;
}

.bifrost-search-widget {
    width: 100%;
}

.bifrost-find-bar-active-match {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 8px;
}
